<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Test" value="true" />
		<add key="DistanceTimeProfil" value="1000" />
		<add key="MinWidth" value="1.1" />
		<add key="MaxWidth" value="1.5" />
		<add key="CalculatedWidth" value="1.497" />
		<add key="MinDepth" value="0.1" />
		<add key="MaxDepth" value="0.25" />
		<add key="MinTransition" value="-0.02" />
		<add key="MaxTransition" value="0.02" />
		<add key="MinGroupPointSize" value="7" />
		<add key="MinGroupSizeOfValidPtsFitLine" value="20" />
		<add key="ConvertedMinDistanceConstant" value="0.05" />
		<add key="MinDepthOfDeepestPointConstant" value="0.075" />
		<add key="DistanceSearchAreaNeighborhood" value="0.3" />
		<add key="NumberOfNeighborhood" value="15" />
		<add key="DistanceToCenterOfCircle" value="0.01" />
		<add key="MinWidthD5D0" value="2" />
		<add key="MaxWidthD5D0" value="3" />
		<add key="GroupCircleDistance" value="2" />
		<add key="SkipStartEnd" value="true" />
	</appSettings>
</configuration>